{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		
		<div class="hidden" id="game">
		
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="div1" >

				<div class="well transparent" id="myDiv">
					<div id="can">
					<canvas id="myCanvas" class='img-responsive'></canvas>
					</div>
				</div>
			</div>
			<!-- /.col-lg-6 -->
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="div2">
				<a id="toggle1" class="btn btn-success font outline" style="width:250px">Chat</a>
				<div class="panel panel-default transparent" id="chat">
				<!-- Default panel contents -->
					<textarea id="txtar1" class="form-control chatTextArea transparent" placeholder="The match has started!" rows="15" readonly></textarea>
					<form class="input-group">
						<input id="inputTextGame" type="text" class="form-control" placeholder="chat with others">
						<span class="input-group-btn">
							<button class="btn btn-default" id="sendButtonGame" type="submit">Send</button>
						</span>
					</form>
					<!-- /input-group -->
				</div>
				<a class="btn btn-danger font outline" id="smodal"  style="width:250px">Leave</a>
			</div>
		</div>
	
		<div class="hidden" id="results">
			<div class="col-md-8">
				<div class="panel panel-default transparent" style="opacity:0.9" >
				<!-- Default panel contents -->
					<div class="panel-heading clearfix" id="boja2">
						<h4 class="panel-title pull-left" style="padding-top: 7.5px;">Results</h4>
						<form class="pull-right form-inline">
							<a href="#lobby"  id="slobby" class="btn btn-primary btn-sm">Back to lobby</a>
						</form>
					</div>
					<!-- Table -->
					<table class="table" id="resultsTable">
						<thead>
						<tr>
						<th>#</th>
						<th>Username</th>
						<th>Points</th>
						</tr>
						</thead>
						<tbody id="resultsTableBody">
						<tr>
						<th scope="row">1</th>
						<td>Horatio</td>
						<td>0</td>
						</tr>
						<tr>
						<th scope="row">2</th>
						<td>Elliot</td>
						<td>2</td>
						</tr>
						<tr>
						<th scope="row">3</th>
						<td>Sherlock</td>
						<td>4</td>
						</tr>
						<tr>
						<th scope="row">4</th>
						<td>NumbahFive</td>
						<td>6</td>
						</tr>
						<tr>
						<th scope="row">5</th>
						<td>Waldo</td>
						<td>12</td>
						</tr>
						<tr>
						<th scope="row">6</th>
						<td>DDrumpf</td>
						<td>14</td>
						</tbody>
					</table>
				</div>
			</div>
			<!-- /.col-lg-6 -->
			<div class="col-md-3">
				<div class="panel panel-default transparent">
				<!-- Default panel contents -->
					<div id="boja3" class="panel-heading clearfix">
						<h4 class="panel-title pull-left">Chat</h4>
					</div>
					<textarea id="txtar2" class="form-control chatTextArea" placeholder="The match has ended!" rows="10" readonly></textarea>
					<form class="input-group">
						<input type="text" id="inputTextResults" class="form-control" placeholder="chat with others">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit" id="sendButtonResults">Send</button>
						</span>
					</form>
					<!-- /input-group -->
				</div>
			</div>
		</div>
		

		<div class="" id="lobby">
			<div class="col-md-8">
				<textarea id="txtar"class="form-control chatTextArea transparent" placeholder="A guest user joined the room." rows="15" readonly></textarea>
				<form class="input-group">
                    <input type="text" class="form-control" id="inputTextLobby" placeholder="chat with others">
                    <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" id="sendButtonLobby" value="Send"/>
                    </span>
				</form><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
			<div class="col-md-3">
				<div class="panel panel-default transparent" id="id1" style="width:250px">
				<!-- Default panel contents -->
					<div id="boja4"class="panel-heading clearfix">
						<h4 class="panel-title pull-left">Users in the room</h4>
					</div>
					<ul class="list-group transparent" id="memberList"></ul>
				</div>
				<a class="btn btn-warning font outline" href="#game" id="sgame" style="width:250px">Ready!</a>
				<a class="btn btn-danger font outline" href="{{ path('homepage') }}" id="leave" style="width:250px">Leave</a>
			</div>
		</div>		
		
	</div>




	
	
    <!-- Modal -->
    <div class="modal fade" id="addDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="addDescriptionModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="outline modal-title font" id="addDescriptionModalLabel">Add description</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="recipient-name" placeholder="type description here">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submitSt" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
	
    <div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="leaveModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="outline modal-title font" id="leaveModalLabel">Are you sure you want to leave the game?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<a class="btn btn-primary" href="#results"  id="sresult" data-dismiss="modal">Yes</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ ws_client() }}

    <script src="{{ asset('js/oop.js') }}"></script>
    <script>
        var websocket = WS.connect("ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}");
        var ses = null;

        websocket.on("socket/connect", function(session){
			roomNum={{ room }};
            ses = session;
			sess = ses;
            session.subscribe("acme/"+{{ room }}, function(uri, payload){
                console.log("Received message", payload);

                var text = "";

				var chat=$('.chatTextArea');

				if (payload.type === "message") {
					text = payload.usr + ": " + payload.msg;
					chat.val(chat.val() + text + "\n");
				} else if (payload.type === "members") {
					var memberList = $('#memberList');
					memberList.empty();
					payload.members.forEach(function(member) {
						memberList.append('<li class="list-group-item">' + member + '</li>');
					});
				} else if (payload.type==="entexit"){
					text = payload.msg;
					chat.val(chat.val() + text + "\n");
				} else if(payload.type==="start") {
					state=GameState.IDLE;
					startGame(payload.cards, payload.users, payload.stindex+1);
				} else if(payload.type==="startst"){
					state=GameState.STORYTELLER;
					startGame(payload.cards, payload.users, payload.stindex+1);
				}else if (payload.type==="choosingst"){
					state=GameState.IDLE_CH;
					phrase = payload.phrase;
					game.loadIdle_ch();
				}else if (payload.type==="choosing"){
					state=GameState.CHOOSING;
					phrase = payload.phrase;
					game.loadChoosing();
				}else if (payload.type==="voting"){
					state=GameState.VOTING;
					setDeck(payload.subCards);
					game.loadVoting();
				}else if (payload.type==="watching") {
					state = GameState.WATCHING;
					setDeck(payload.subCards);
					game.loadWatching();

				}else if (payload.type==="newrSt"){
					voterArr = payload.voterArr;
					ownerArr = payload.ownerArr;

					players.setStoryteller(payload.stind);
					img=payload.missingcard;
					if (img<10) img="/img/00"+img+".png";
					else if (img>=10 && img<100) img="/img/0"+img+".png";
					else img="/img/"+img+".png";
					cards.setCard(parseInt(payload.missingind)+1, img);

					plarr=players.player;
					for (i=0; i<plarr.length;i++){
						plarr[i].setPoints(payload.resultArr[i]);

					}
					state=GameState.UNCOVER;
					game.loadUncover();
					setTimeout(function(){
						setState(GameState.STORYTELLER);
						game.loadStoryteller();
					}, 5000);

				}else if(payload.type==="newr"){
					voterArr = payload.voterArr;
					ownerArr = payload.ownerArr;
					players.setStoryteller(payload.stind);
					img=payload.missingcard;
					if (img<10) img="/img/00"+img+".png";
					else if (img>=10 && img<100) img="/img/0"+img+".png";
					else img="/img/"+img+".png";
					cards.setCard((parseInt(payload.missingind)+1), img);

					plarr=players.player;
					for (i=0; i<plarr.length;i++){
						plarr[i].setPoints(payload.resultArr[i]);

					}
					state=GameState.UNCOVER;
					game.loadUncover();
					setTimeout(function(){
						setState(GameState.IDLE);
						game.loadIdle();
					}, 5000);
				}else if (payload.type==="end"){
					$("#resultsTableBody").empty();
					var rows="";
					for(i=0;i<payload.players.length;i++){
						rows+= "<tr><td>"+i+"</td><td>"+payload.players[i]+"</td><td>"+payload.points[payload.players[i]]+"</td></tr>";
					}

					$(rows).appendTo("#resultsTable tbody");

					switchResults();

				}
            });
        });

        websocket.on("socket/disconnect", function(error){
            //error provides us with some insight into the disconnection: error.reason and error.code

            console.log("Disconnected for " + error.reason + " with code " + error.code);

            $('#sendButtonLobby').prop('disabled', true);
            $('#sendButtonGame').prop('disabled', true);
            $('#sendButtonResults').prop('disabled', true);
        });


		$("#sgame").click(function(e){
			e.preventDefault();
			if (null !== ses) ses.publish("acme/"+{{ room }}, {type:"start"});
		});

		$("#submitSt").click(function(e){
			e.preventDefault();
			var phr=$("#recipient-name");
			if (null!== ses) ses.publish("acme/"+{{ room }}, {type:"submitSt", phrase:phr.val(), sel: cards.getSelected()});

		});

        $(document).ready(function() {
            $('.chatTextArea').val("");

            $('#sendButtonLobby').click(function(e) {
                e.preventDefault();
                var inputText = $("#inputTextLobby");
                if (null !== ses && inputText.val() !== "") ses.publish("acme/"+{{ room }}, {msg: inputText.val(), type:"message"});
                inputText.val("");
            });

            $('#sendButtonGame').click(function(e) {
                e.preventDefault();
                var inputText = $("#inputTextGame");
                if (null !== ses && inputText.val() !== "") ses.publish("acme/"+{{ room }}, {msg: inputText.val(), type:"message"});
                inputText.val("");
            });

            $('#sendButtonResults').click(function(e) {
                e.preventDefault();
                var inputText = $("#inputTextResults");
                if (null !== ses && inputText.val() !== "") ses.publish("acme/"+{{ room }}, {msg: inputText.val(), type:"message"});
                inputText.val("");
            });
        });
    </script>
{% endblock %}