{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-8">
        <textarea class="form-control" id="idChatTextArea" placeholder="A guest user joined the room." rows="15" readonly></textarea>
        <form class="input-group">
            <input type="text" class="form-control" id="inputText" placeholder="chat with others">
          <span class="input-group-btn">
            <input class="btn btn-default" type="submit" id="sendButton" value="Send"/>
          </span>
        </form><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-md-3">
        <div class="panel panel-default" style="width:250px">
            <!-- Default panel contents -->
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left">Users in the room</h4>
            </div>
            <ul class="list-group">
                {% for item in members %}
                <li class="list-group-item">{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
        <a class="btn btn-warning" href="{{ path('game') }}" style="width:250px">Ready!</a>
        <a class="btn btn-danger" href="{{ path('homepage') }}" style="width:250px">Leave</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ ws_client() }}

    <script>
        var websocket = WS.connect("ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}");
        var ses = null;

        websocket.on("socket/connect", function(session){
            ses = session;

            session.subscribe("acme/{{ room }}", function(uri, payload){
                console.log("Received message", payload);

                var text = "";

                if (payload.type === "message") {
                    text = payload.usr + ": " + payload.msg;
                } else {
                    text = payload.msg;
                }

                document.getElementById("idChatTextArea").innerHTML += text + "\n";
            });
        });

        websocket.on("socket/disconnect", function(error){
            //error provides us with some insight into the disconnection: error.reason and error.code

            console.log("Disconnected for " + error.reason + " with code " + error.code);
        });


        $(document).ready(function(e) {
            $('#sendButton').click(function(e) {
                e.preventDefault();
                var inputText = $("#inputText");
                if (null !== ses && inputText.val() !== "") ses.publish("acme/{{ room }}", {msg: inputText.val()});
                inputText.val("");
            });
        });
    </script>
{% endblock %}