<nav class="navbar navbar-default"  style="opacity:0.75">
  <div class="container-fluid" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{ asset('img/logo.png') }}" width="125px" height="30px" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" data-toggle="modal" class="nav-item" data-target="#rulesModal">Rules</a></li>
        <li><a href="#" class="nav-item">About</a></li>
          {% if is_granted("ROLE_ADMIN") %}
              <li><a href="{{ path('easyadmin') }}" class="nav-item">Admin panel</a></li>
          {% endif %}
      </ul>

      {#<p class="navbar-text navbar-right"><a href="#" data-toggle="modal" data-target="#loginModal">login</a> | <a href="#" data-toggle="modal" data-target="#registerModal">register</a></p>#}
      <p class="navbar-text navbar-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			logged in as:
            <a href="{{ path('fos_user_profile_show') }}">
			{{ app.user.username }}
			</a> |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% endif %}
      </p>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Navbar modals -->
<div class="modal fade" id="rulesModal" tabindex="-1" role="dialog" aria-labelledby="rulesModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="outline font modal-title" id="rulesModalLabel">Rules of the game</h4>
      </div>
      <div class="modal-body well">
        <h4>Game start</h4>
        <p>Each player starts the game with six random cards. Players then take turns being the storyteller. The player whose turn it is to be storyteller looks at the six images in his or her hand. From one of these, he or she makes up a sentence or phrase that might describe it and says it out loud (without showing the card to the other players).</p>
        <hr>
        <h4>Taking turns</h4>
        <p>Each other player then selects from among their own six cards the one that best matches the sentence given by the storyteller. Then, each player gives their selected card to the storyteller, without showing it to the others. The storyteller shuffles his or her chosen card with the cards received from the other players, and all cards are then dealt face up.</p>
        <hr>
        <h4>Voting</h4>
        <p>The players (except for the storyteller) secretly guess which picture was the storyteller's, using numbered voting chips.</p>
        <p>If nobody or everybody finds the correct picture, the storyteller scores 0, and each of the other players scores 2. Otherwise the storyteller and all players who found the correct answer score 3. Players other than the storyteller score 1 point for each vote their own pictures receive.</p>
		<p>The game ends when a player reaches the end of the board (30 points).</p>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>