{% trans_default_domain 'FOSUserBundle' %}



{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div>
	<div class="row">
		<div class="form-group col-sm-6 center-block">
			{{ form_widget(form.username, {'attr': {'class': "form-control", 'placeholder': "username"}}) }}
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6 center-block">
			{{ form_widget(form.email, {'attr': {'class': "form-control", 'placeholder': "email"}}) }}
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6 center-block">
			{{ form_widget(form.plainPassword.first, {'attr': {'class': "form-control", 'placeholder': "password"}}) }}
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6 center-block">
			{{ form_widget(form.plainPassword.second, {'attr': {'class': "form-control", 'placeholder': "repeat password"}}) }}
		</div>
	</div>
	<div class="row">
		{{ form_errors(form) }}	
	</div>
	<div class="row">
		<div class="col-sm-6 center-block">
			<button class="btn btn-primary" type="submit">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		</div>
	</div>
	</div>
        {{ form_rest(form) }}
{{ form_end(form) }}
