{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="jumbotron" style="background-repeat: no-repeat; background-position: 50% 75%; height: 512px; max-height: 720px;">
        <div class="container">
            <h1 class="font outline">Welcome!</h1>
            <p style="color:#305583; text-shadow: 1.5px 1.5px #b6bdcd;">Step into the role of a mysterious storyteller as you slowly uncover the magical world of DiXit!</p>
            <div class="row">
				<div class="well">
				<form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-inline">
				<input class="form-group" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				<div class="col-xs-3">
					<input placeholder="{{ 'security.login.username'|trans }}" class="form-group form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
				</div>
				<div class="col-xs-3">
					<input placeholder="{{ 'security.login.password'|trans }}" class="form-group form-control" type="password" id="password" name="_password" required="required" />
				</div>
				<div class="col-xs-3">
					<div class="pull-down">
						<div class="checkbox">
						<label class="form-group" for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}</label>	
						<a href="#"><br>Forgot password?</a>
					</div>
					</div>
				</div>
				<div class="col-xs-3">
					<input class="btn btn-primary btn-md" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
				</div>
		
				</form>
					<div class="col-xs-12">
						<div class="pull-right">
							<h5>Don't have an account? <a href="/register/">Register</a></h5>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock fos_user_content %}


